Hemo.Client - 副本/Web References/EmrHost/EmrService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveEmrToServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileByte" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="patientID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="emrDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="emrType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEmrToServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveEmrToServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveEmrToServerSoapIn">
    <wsdl:part name="parameters" element="tns:SaveEmrToServer" />
  </wsdl:message>
  <wsdl:message name="SaveEmrToServerSoapOut">
    <wsdl:part name="parameters" element="tns:SaveEmrToServerResponse" />
  </wsdl:message>
  <wsdl:portType name="EmrServiceSoap">
    <wsdl:operation name="SaveEmrToServer">
      <wsdl:input message="tns:SaveEmrToServerSoapIn" />
      <wsdl:output message="tns:SaveEmrToServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmrServiceSoap" type="tns:EmrServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveEmrToServer">
      <soap:operation soapAction="http://tempuri.org/SaveEmrToServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmrServiceSoap12" type="tns:EmrServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveEmrToServer">
      <soap12:operation soapAction="http://tempuri.org/SaveEmrToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmrService">
    <wsdl:port name="EmrServiceSoap" binding="tns:EmrServiceSoap">
      <soap:address location="http://localhost:1265/EmrService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmrServiceSoap12" binding="tns:EmrServiceSoap12">
      <soap12:address location="http://localhost:1265/EmrService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>